
<div id="about" class="space-around">
    Hi! I’m Huan An.
    <br><br>
    I’m a software engineer with experience working in different roles, including development, QA and production, using a range of technologies and frameworks. I’m often described as a responsible and reliable individual who is a good team-player as well as independent worker.
    <br><br>
    My go-to programming language is Python, partly because I mainly deal with automation and backend development. However, I have also used Java, Golang, Typescript, Javascript and C# in projects that call for them. I also have experience with various different libraries, software and tools depending on the project requirements. 
    <br><br>
    I graduated with a Bachelors in Engineering (Honours with Distinction), Information Systems Technology and Design degree from Singapore University of Technology and Design in 2020.    
</div>

<div id="skills" class="space-around">
    <h2>Skills</h2>
    
    <strong>Categories</strong>: Software development, Web development, System administration<br>
    <strong>Languages</strong>: Python3, Java, Golang, Bash<br>
    <strong>Frameworks and Tools</strong>: Flask, Spring Boot, Angular<br>
    <strong>Design</strong>: Adobe XD<br>

</div>