<div class="space-around">
    <div *ngIf="router != '/home'" id="navbar" class="text-center">
        <h1><a id="home" routerLink="/">Huan An Cheng</a></h1>
        <div class="container-fluid">
            <a routerLinkActive="activeLink" routerLink="/about">About</a>
            <a routerLinkActive="activeLink" routerLink="/experience">Experience</a>
            <a routerLinkActive="activeLink" routerLink="/projects">Projects</a>
            <a routerLinkActive="activeLink" routerLink="/contact">Contacts</a>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>