
<div id="navbar" class="text-center">
    <h1><a id="home" routerLink="/home">Huan An Cheng</a></h1>
    <div class="container-fluid">
        <a href="/home/#about">About</a>
        <a href="/home/#experience">Experience</a>
        <a href="/home/#projects">Projects</a>
        <a href="/home/#contact">Contacts</a>
    </div>
</div>

<div class="one-page">
    <div class="divider"></div>
    <app-about><a id="about"></a></app-about>
    <div class="divider"></div>

    <app-experience><a id="experience"></a></app-experience>
    <div class="divider"></div>
    
    <app-projects><a id="projects"></a></app-projects>
    <div class="divider"></div>
    
    <app-contacts><a id="contact"></a></app-contacts>
    <div class="divider"></div>

</div>
