/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';

@import 'theme.scss';

@include angular-material-theme($dark-theme);

body {
    // background: linear-gradient(to right top, #b4e4d6, #94cdd3) fixed;
    background: whitesmoke;
    color: #10253a;
//     background: #1F153D;
//     color: whitesmoke;
}

#navbar {
    margin-top: 3%;
    margin-bottom: 3%;
}

#navbar a {
    padding: 10px;
    color: inherit;
}

.space-around {
    margin: 3% 7%;
    text-align: justify;
}

h1,
h2,
h4 {
    font-weight: bold;
}

// address all text because changing font-size in body doesn't work
h1, h2, h3, h4, p, i, strong, a {
    font-size: 110%;
}

#home {
    text-decoration: none;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
