$background: whitesmoke; //rgba(0, 7, 26, 0.93)
$textColor:rgb(16, 37, 58); // whitesmoke;
$btnColor: rgba(76, 161, 211, 0.31);
$btnHoverColor: rgb(163, 192, 209); //rgb(96, 99, 98)
$focusColor: rgb(228, 101, 175);
$tagColor: rgba(34, 36, 75, 0.93);//rgb(216, 215, 218);