@import '../../themes.scss';

.row {
    display: flex;
}

.column {
    margin: 5%;
    margin-top: 2%;
    flex: 40%;
}

.proj-title {
    position: relative;
    padding-top: 20px;
}

.alignleft {
	display: inline-block;
}
.alignright {
	display: inline-block;
    position: absolute;
    right:0;
    bottom:20px;
}

.link {
    font-weight: bold;    
    border-radius: 5px;
    margin-left: 15px;
    padding: 2px 10px;
    color: inherit;
    &:hover { 
        color:$btnHoverColor;
        text-decoration: none; 
    }
}

.link {
    border: none;
    background: $btnColor;
    color: $textColor;
    box-shadow: 2px 2px gray;
}

.tag {    
    border: none;
    background: lightgray; //$btnColor;
    color: $textColor;
}
    
.tag {
    margin-right: 10px;
    color: inherit;
    margin-bottom: 10px;
}

/*** Wide screens ***/
@media (min-width: 1400px) {
    .column {
        flex: 30%;
    }
}

/*** Tablets ***/
@media (min-width: 838px) and (max-width: 991px) {
    
    .column {
        margin: 2%;
        flex: 40%;
    }
}

/*** Mobile ***/
@media (max-width: 837px) {
    .row {
        display: block;
    }

    .image {
        border-radius: 0px;
    }
    /*** XS Mobile ***/
    @media (max-width: 425px) {

    }
}
