<div class="row">
    <div class="column">
        <div class="image"></div>
        <div class="description">
            <div class="proj-title">
                <h3 class="alignleft">Lorem</h3>
                <div class="alignright">
                    <a href="" class="link">Video</a>
                    <a href="" class="link">Github</a>
                </div>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Aliquam purus sit amet luctus venenatis lectus magna fringilla. Et netus et malesuada fames ac. </p>
            <div>
                <button disabled="disabled" class="tag">HTML</button>
                <button disabled="disabled" class="tag">HTML</button>
                <button disabled="disabled" class="tag">HTML</button> 
            </div>
        </div>
    </div>
    <div class="column">
        <div class="image"></div>
        <div class="description">
            <div class="proj-title">
                <h3 class="alignleft">Lorem</h3>
                <div class="alignright">
                    <a href="" class="link">Video</a>
                    <a href="" class="link">Github</a>
                </div>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Aliquam purus sit amet luctus venenatis lectus magna fringilla. Et netus et malesuada fames ac. </p>
            <div>
                <button disabled="disabled" class="tag">HTML</button>
                <button disabled="disabled" class="tag">HTML</button>
                <button disabled="disabled" class="tag">HTML</button> 
            </div>
        </div>
    </div>

</div>