<br>
<p style="text-align: center; font-style: italic;">Some of my academic/personal projects are listed here</p>
<div class="row">
    <div class="column">
        <!-- <div class="image"></div> -->
        <div class="description">
            <div class="proj-title">
                <h2 class="alignleft">Automated Threat Modelling</h2>
                <div class="alignright">
                    <a target="_blank" href="https://youtu.be/T8Hg9cVfqzc" class="link">Video</a>
                    <!-- <a href="" class="link">Github</a> -->
                </div>
            </div>
            <p>
            A tool that will identify security threats and mitigations based on the components of a project. There were two parts to this project. 
            </p>
            <ol>
                <li>Going through the design process of problem statement scoping, analysis of current market solutions, ideation and iterations before </li>
                <li>coming up with a novel automated threat modelling tool.</li>
            </ol> 
            <br>
            <p>
                This was a Final Year Project in partnership with DBS. The team comprised of 7 members, with guidance from 2 professors and one industry mentor from DBS.
                <br><br>
                One of the main features I worked on was the backend logic to generate attack trees representing possible security threats and mitigations based on the components of a project. This was done using Python with Selenium (for scraping info from the threat libraries websites) and Pandas (in handling data).
            </p>
            <div>
                <button disabled="disabled" class="tag">Python</button>
                <button disabled="disabled" class="tag">Web Scraping</button>
                <button disabled="disabled" class="tag">Selenium</button>
                <button disabled="disabled" class="tag">Pandas</button>
                <button disabled="disabled" class="tag">Research</button>
                <button disabled="disabled" class="tag">Design Thinking</button>
                <!-- <button disabled="disabled" class="tag">Secure coding</button> -->
                <button disabled="disabled" class="tag">Security</button> 
            </div>
        </div>
    </div>
    <div class="column">
        <!-- <div class="image"></div> -->
        <div class="description">
            <div class="proj-title">
                <h2 class="alignleft">Fashion Assistant Android App</h2>
                <div class="alignright">
                    <!-- <a href="" class="link">Video</a> -->
                    <a target="_blank" href="https://github.com/huanan1/50.001-1D-Project" class="link">Github</a>
                </div>
            </div>
            <p>
                A fashion app built using Android Studio. The app allows users to store pictures of their existing wardrobe, OOTDs, customise their outfit or generate a random set of outfit based on formality.
                <br><br>
                This was a course project done by a team of six. The main feature I worked on was the generate outfit page. 
            </p>
            <div>
                <button disabled="disabled" class="tag">Android</button>
                <button disabled="disabled" class="tag">Java</button>
                <button disabled="disabled" class="tag">SQL</button> 
            </div>
        </div>
    </div>
    <div class="column">
        <!-- <div class="image"></div> -->
        <div class="description">
            <div class="proj-title">
                <h2 class="alignleft">Fundraising Blockchain App</h2>
                <div class="alignright">
                    <a target="_blank" href="https://youtu.be/zU1BJmM5h1g" class="link">Video</a>
                    <!-- <a href="" class="link">Github</a> -->
                </div>
            </div>
            <p>
                A proof-of-concept project which demonstrates how a blockchain fundraising platform can increase transparency and accountability in how a charity handles donations. This is done through tapping on the immutability and transparency properties of the blockchain.
                <br><br>
                This was an individual project done for a Blockchain course.
            </p>
            <div>
                <button disabled="disabled" class="tag">Flask</button>
                <button disabled="disabled" class="tag">HTML/CSS/JS</button>
                <button disabled="disabled" class="tag">Ganache</button> 
                <button disabled="disabled" class="tag">Metamask</button>
                <button disabled="disabled" class="tag">Solidity</button>
            </div>
        </div>
    </div>
    <div class="column">
        <!-- <div class="image"></div> -->
        <div class="description">
            <div class="proj-title">
                <h2 class="alignleft">Event Scheduler Web App</h2>
                <div class="alignright">
                    <!-- <a href="" class="link">Video</a> -->
                    <a target="_blank" href="https://github.com/2manslkh/sutd-scheduler-db/tree/algo/django" class="link">Github</a>
                </div>
            </div>
            <p>
            A website that allows users to generate and view schedule based on time and venue constraints of events inputted. 
            </p>
            <div>
                <button disabled="disabled" class="tag">Python</button> 
                <button disabled="disabled" class="tag">Django</button>
                <button disabled="disabled" class="tag">SQL</button>
                <button disabled="disabled" class="tag">HTML/CSS/JS</button>
                <button disabled="disabled" class="tag">Bootstrap</button>
            </div>
        </div>
    </div>
    <div class="column">
        <!-- <div class="image"></div> -->
        <div class="description">
            <div class="proj-title">
                <h2 class="alignleft">OpenCV-RFID Inventory System</h2>
                <div class="alignright">
                    <!-- <a href="https://youtu.be/XJKGE1fCSK8" class="link">Video</a> -->
                    <!-- <a href="https://github.com/2manslkh/sutd-scheduler-db/tree/algo/django" class="link">Github</a> -->
                </div>
            </div>
            <p>
                A prototype inventory management system that makes use of RFID tags and the OpenCV library to allow for faster loaning and returning of items.
                <br><br>
                This was a self-intiated project done by a team of 4.
            </p>
            <div>
                <button disabled="disabled" class="tag">Python</button> 
                <button disabled="disabled" class="tag">Flask</button>
                <button disabled="disabled" class="tag">SQL</button>
            </div>
        </div>
    </div>
    <div class="column">
        <!-- <div class="image"></div> -->
        <div class="description">
            <div class="proj-title">
                <h2 class="alignleft">@decideforme_bot</h2>
                <div class="alignright">
                    <a target="_blank" href="https://t.me/decideforme_bot" class="link">Telegram</a>
                    <a target="_blank" href="https://github.com/huanan1/DeciderBot" class="link">Github</a>
                </div>
            </div>
            <p>
            A very simple Telegram bot that chooses one option out of the options provided to it. Helps me when I can't decide. I'm using the free tier on Heroku and it takes awhile to start up. If you do try it out, wait for a few seconds after doing <i>/start</i>!
            </p>
            <div>
                <button disabled="disabled" class="tag">Heroku</button>
                <button disabled="disabled" class="tag">Python</button>
                <button disabled="disabled" class="tag">Telegram Bot</button> 
            </div>
        </div>
    </div>
</div>