
<div class="space-around">
    <h2>Work</h2>
    <div class="org">
        <p class="alignleft">VISA INC</p>
        <p class="alignright">Oct 2021 - Present</p>
    </div>
    <br>

    <p class="position">Software Engineer (Production/SRE)</p>
    <p class="desc">I am currently working in production support in Visa, where I help with the deployment of applications on production servers, maintaining a 99.99% availability and 100% patching compliance for vulnerabilities among others on the production servers my team supports. I am greatly inspired by SRE concepts and I aim to automate what I can in my role. So far, I have automated several recurring manual processes using bash scripts and Python, reducing a few hours of work to minutes.</p>

    <div class="org">
        <p class="alignleft">VISA INC</p>
        <p class="alignright">May 2019 - Aug 2019</p>
    </div>
    <br>

    <p class="position">Software Engineer Intern</p>
    <p class="desc">Developed an interface using Angular and Spring that allows execution of the switching of data centers via a UI for a major application within the team, along with the display of its execution status.</p>


    <div class="org">
        <p class="alignleft">BO CONG ANH - VIETNAM</p>
        <p class="alignright">May 2018 - Aug 2018</p>
    </div>
    <br>

    <p class="position">Quality Assurance Intern</p>
    <p class="desc">In 2018, I decided to experience the start-up culture overseas in Vietnam. I worked as a QA performing black-box UI and functional testing on web and mobile applications. During my time there, I explored using Selenium, Appium and Applitools Eyes to help with my tasks. Apart from acting as a QA, I also supported the project manager by helping to delegate tasks and interacting with clients where needed. The team worked in a Kanban methodology using Trello. 
    </p>

    <a id="resumebtn" href="resume.pdf" class="alignright">
        <button class="btn" >&#8594; Resume</button>
    </a>
</div>


