div.org {
    margin-top: 60px;
}

.org p {
    margin-bottom: 0px;
    font-weight: bold;
}

.position {
    font-style: italic;
}

.alignleft {
    float: left;
}

.alignright {
    float: right;
}

#resumebtn {
    margin-top: 20px;
}
